.circle-med {
  width: 41%;
  border-radius: 50%;
  margin: 0 auto;
}

.progress-metrics {
  width: 41%;
}

.username {
  color: black;
}

/*same style as the .card rule*/
.tabs-container {
  box-shadow: 0px 0px 23px #b39ddb;
  border: #cebebe solid 1px;
  border-radius: 4px;
  margin: 5%;
}

.tab-content {
  height: inherit;
}

.event-cards-container {
  overflow: hidden;
  overflow-y: scroll;

}

.event-card {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 35% 60%;
  grid-gap: 5%;
  border: 2px solid #dddddd;
  border-radius: 12px;
  margin: 2%;
  text-align: left;
  overflow: hidden;
}

.event-card > .left {
  max-height: 100%;
}

.event-card > .left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 73% 0%, 100% 50%, 61% 122%, 0% 100%);
}

.sport-icon {
  width: 2em;
} 

.event-card:hover {
  background-color: lightsteelblue;
  cursor: pointer;
}

.inner-right {
  width: 450px;
  height: 530px;
  box-shadow: 0px 9px 25px #b39ddb;
  padding-top: 6px;
  background-color: white;
  margin: 35px auto;
}

.event-name {
  font-size: 1.2em;
  font-weight: bold;
}

/* Bootstrap css override */
/* to make the tabs align in the center with equal spacing */
.nav-tabs {
  display: grid;
  grid-template-columns: 1% 33% 32% 33%;
}

.event-card-legend > .event-name {
  text-overflow: ellipsis;
}
/*Event name title wraps at a lower width, this rule prevents it*/
@media (max-width: 462px) {
  .event-card-legend > .event-name {
    
  }
}
