
 #Overview{
    border: 2px solid white;
    margin: 6% 0 8% 28%;
    width: 600px;
    height: 600px;
    position: absolute;
    /* background-color: */
  }
  
  #Overview_photo{
    margin: 2% 0 0 2%;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
  }
  
  #edit_Overview_button{
    border: 1px solid gray;
    font-size: 18px;
    width: auto;
    height: 28px;
    position: absolute;
    margin: 1.5% 0 0 13%;
  
  }
  
  #username{
    margin-left: 45%;
    position: absolute;
  }
  
  #xp_header{
    margin: 10% 0 0 8%;
    position: absolute;
  }