#Overview_component{
  background-color: #e0f2f1;
}
#Overview{
  /* border: 2px solid white; */
  /* margin: 6% 0 8% 10%; */
  width: 80%;
  height: 80%;
  /* position: absolute; */
  background-color:#e0f2f1;
  color: black;
  text-align: left;
}
#photo_container{
  width: 50%;
}
.header{
  display: flex;
}
  #Overview_photo{
    margin: 40% 0 0 55%;
    width: 200px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 200px;
  }
  
  #edit_Overview_button{
    border: 1px solid gray;
    font-size: 18px;
    width: auto;
    height: 28px;
    position: absolute;
    margin: 1.5% 0 0 13%;
  
  }
  #username{
    float: left;
    margin-top: 30px;
    margin-left: 14%;
    position: absolute;
    /* font-size: 100px; */
    /* text-align: center; */
  }
  .username{
    font-size: 25px;
    /* text-align: center; */
  }
  
  #xp_header{
    margin-top: 100px;
    /* margin-right:10px; */
     margin-left: 130px;
    /* position: absolute;  */
  }
  .medal{
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 10px;
    width: 150%;
    text-align: left;
    background-color: peru;
  }

  #medal-container{
    margin-top: 24%;
    width:53%;
  }

  .medal-img{
    margin-top:1px;
  }
  .points{
    font-size: 25px;
  }
  #dashboard-tabs{
    width: 400px;
    margin: 3% 0 0 60%;
    z-index:  1;
    position: absolute;
  }
  
  #event_container{
    width: 390px;
    height: 520px;
    overflow-y:  auto;
    position: absolute;
  }
  
  .host_img{
    float: left;
    margin: 1% 0% 0 3%;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
  }
  
  .host_Name{
    position: absolute;
    margin-left: 34%
  }
  
  .event_descriptions{
    width: 200px;
    height: auto;
    position: absolute;
    margin-left: 20%;
    margin-top: 5%;
  }
  
  .individual_event{
    /* background: linear-gradient(to bottom right, rgb(129,212,250) 30%, rgb(77,182,172) ); */
    box-shadow: 0px 2px 10px #b39ddb;
    color: black;
    border: 2px solid #DDDDDD;
    width: 390px;
    height: 125px;
    margin-bottom: 5%;
    background-color: aliceblue;
    /* margin: 3%; */
  }
/*   
  .nav-tabs > li{
  padding-left: 7%
  }
   */
  
  .newGame-btn{
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 39px;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    border: none;
    background-color: #78CEEC;
  }
  
  #add-btn{
    width: 55px;
    border: 2px solid #1BADC0;
    border-radius: 50px;
  }
  
  
  #add-btn:hover{
    border-color: gold;
  }

.right_half{
  background: linear-gradient(to bottom, rgb(77,182,172) 30%, rgb(129,212,250));
  box-shadow: 0px 9px 25px #b39ddb;
  color:white;
  width: 45%;
  height: 60%;
  margin-top: 65px;
  margin-left: 160px;
}
.blurb{
  display: flex;
  flex-direction: row;
}

