#leaderboard-body{
    width: 100%;
    height: 100%;
    position: fixed;
    /* display: flex;
    flex-wrap: wrap; */
}

#leaderboard_header{
    margin-top: 80px;
    color: black;
}

#player-0, #player1, #player-2 {
    float: left;
    width:100px;
    /* border: 1px solid black; */
}

#player-0{
    position: relative;
    width: 100%;

}

#player-1{
    position: relative;
    width: 75%;
}

#player-2{
    position: relative;
    width: 0%;
    margin-right: 0;
    margin-left: 60%;
    top: -20vh;
}

#leaderboard-rank-pic{
    margin-top: 11%;
    
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
}

#LeaderBoard:hover {
    background-color: rgb(173, 194, 212);
}

table {
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    width: 80%;
    top: -15vh;
    position: relative;
    overflow-y: scroll;
    height: 200px;
}


/* @media (max-width: 600px){
    #leaderboard_parent{
        margin-top: 20%;
    }
    #leaderboard-body{
        width: 700px;
        height: 1180px;
        background-color: #213238;
        position: absolute;
    }
    #leaderboard-rank-pic{
        width: 500px;
        margin-top: 40%;
    }
    #player-1, #player-2{
        position: absolute;
    }
        
    #player-0{
        margin:20% 0 0 48%;
        position: absolute;
    }
        
    #player-1{
        margin: 30% 0 0 25%;
    }
        
    #player-2{
        margin: 30% 0 0 70%;
    }
} */
