#leaderboard-body{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    background-color: grey;
}

#leaderboard-container {
    margin: 20px;
    background-color: #fcfcfc;
    width: 100%;
}

#leaderboard_header{
    margin-top: 40px;
    color: #f23708;
    width: 100%;
    font-size: 50px;
}

/* #leaderboard-grid {
    display: grid;
    grid-template-columns: 30%, 50%;
    border: 2px solid;
    height: 100%;
} */

#top3 {
    width: 35%;
    float: left;
    /* border: 3px solid black; */
    margin: 30px;
    margin-left: 17%;
    box-shadow: 4px 4px 4px red;
    border-radius: 4px;
    top: -1vh;
    position: relative;
    background: linear-gradient(to bottom right, rgb(255,147,96) 30%, rgb(255,146,160));
}

#player-0 {
    border-left: 30px solid rgb(250, 142, 125);
    border-top: 2px solid rgb(250, 142, 125);
    border-right: 2px solid rgb(250, 142, 125);
    border-bottom: 2px solid rgb(250, 142, 125);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px red;
}

#player-1 {
    border-left: 30px solid rgb(250, 142, 125);
    border-top: 2px solid rgb(250, 142, 125);
    border-right: 2px solid rgb(250, 142, 125);
    border-bottom: 2px solid rgb(250, 142, 125);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px red;
}

#player-2 {
    border-left: 30px solid rgb(250, 142, 125);
    border-top: 2px solid rgb(250, 142, 125);
    border-right: 2px solid rgb(250, 142, 125);
    border-bottom: 2px solid rgb(250, 142, 125);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px gray;
}

#leaderboard-table-container {
    margin: 20px;
    float: left;
    /* width: 54%; */
    overflow: auto;
    box-shadow: 10px 5px 5px gray;
    /* border: solid 2px black; */
    border-radius: 4px;
   background-color: snow;
   position: relative;
   top: 7vh;
}

.headers-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.player-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: (213, 205, 204);
    
}

.player-card:hover {
    background-color: rgb(250, 142, 125);
    box-shadow: 5px 5px 10px red;
}

#rank, #player, #score, #games-played {
    width: 100%;
    border: 1px solid rgb(225, 214, 213);
    margin: 0;
    padding: 15px
}

#rank-number {
    padding: 5px;
    border-bottom: 1px solid rgb(225, 214, 213);
    border-left: 1px solid rgb(225, 214, 213);
    border-right: 1px solid rgb(225, 214, 213);
    padding: 15px;
    text-align: center;
    margin: 0;
}

#player-info {
    border-bottom: 1px solid rgb(225, 214, 213);
    border-left: 1px solid rgb(225, 214, 213);
    border-right: 1px solid rgb(225, 214, 213);
    padding: 15px;
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

#score-points {
    padding: 5px;
    border-bottom: 1px solid rgb(225, 214, 213);
    border-left: 1px solid rgb(225, 214, 213);
    border-right: 1px solid rgb(225, 214, 213);
    padding: 15px;
    text-align: center;
    margin: 0;
}


