.login_container {
    /* border: 4px solid salmon; */
    /* height: 100%; */
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.pageHeader {
    position: fixed;
    background-color: #2f2e2e;
    width: 100%;
    padding: 1%;
    z-index: 1;
    opacity: 0.5;
    height: 70px;
}

.login_container{
    background-color: white;
}

#login_title {
    color: White;
    font-size: 40px;
    margin: 0;
    position: fixed;
    width: 100%;
    padding: 1%;
    z-index: 1;
}

.carousel{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.carousel-inner>.next {
    margin: 0;
    bottom: 0;
}

#lets_play_link {
    margin: 0;
    position: relative;
    top: -40vh;
    color: White;
    font-size: 45px;
    margin: 0;
    text-decoration: none;
}



#arrow {
    /* border: 2px red solid; */
    position: relative;
    top: -2vh;
}

#form_container {
    position: relative;
    top: -10vh;
}

#home_form_container {
    position: fixed;
    margin-left: 30px;
    margin-top: 10%;
    top: 12vh;
    width: 45%;
    background-color: #6d6a6a7a;
}

#login {
    font-size: 25px;
    color: block;
}

input[id=login-input], input[id=login-password]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[id=login-submit] {
    /* width: 50%; */
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



#signin-button {
    color: white;
    border: 2px solid white;
    width: 15%;
    margin-left: 43%;
}
/* p {
    font-size: 25px;
    color: black;
} */

#signup {
    font-size: 18px;
}

@media only screen 
  and (max-width: 480px)
  {
    .login_container {
        background: url("https://images.unsplash.com/photo-1518063319789-7217e6706b04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c81c34c2973c3947d4afb6c26d179a35&auto=format&fit=crop&w=634&q=80") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
    }
    .carousel{
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: none
    }
    
    .carousel-inner>.next {
        margin: 0;
        bottom: 0;
    }

    .pageHeader {
        position: fixed;
        background-color: #2f2e2e;
        width: 100%;
        padding: 1%;
        z-index: 1;
        opacity: 0.5;
        height: 10%;
    }

    #login_title {
        color: White;
        font-size: 300%;
        margin-top: 2%;
        position: fixed;
        width: 100%;
        padding: 1%;
        z-index: 1;
    }

    #lets_play_link {
        margin: 0;
        position: relative;
        top: -15vh;
        color: White;
        margin: 0;
        text-decoration: none;
        font-size: 70px;
    }

    #login-subtitle {
        font-size: 50%
    }

    #arrow {
        /* border: 2px red solid; */
        position: relative;
        top: -3vh;
        width: 40px;
    }

    #home_form_container {
        position: fixed;
        top: 25%;
        width: 100%;
        background-color: #6d6a6a7a;
        height: 50%;
        margin: 0;
    }
    #signup {
        color: #2424ff;
    }
}