.login_container {
      background-color: #c6e7ff;
  /* background: url('/images/Field2.png')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; */
}
/*
    The Jumbotron holds the title and the slogan 
    ~Romie
*/
.LoginJumbotron {
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 6px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgb(208, 224, 229);
    box-sizing: border-box;
    /* width: 100%; */
}

#loginSubmitButton {
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 1%;
}

/*
    The @media is for the container that everything is in,
    it is also the <Grid> in the Login.jsx
    ~Romie
*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* 
    Adjusted the automatic styling for the <FormControl>
    to be centerd and responsive.
    ~Romie
*/ 
.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    text-align: center;
    width: 75%;
    margin-left: 13%;
}

/*
    Minor styling for the OR in "Submit OR Register"
    ~Romie
*/
#or {
    margin-top: 1%;
    margin-bottom: 1%;
}
