.pageHeader {
    position: fixed;
    background-color: #2f2e2e;
    width: 100%;
    padding: 1%;
    z-index: 1;
    opacity: 0.5;
    height: 70px;
}

#login_title {
    color: White;
    font-size: 40px;
    margin: 0;
    position: fixed;
    width: 100%;
    padding: 1%;
    z-index: 1;
}

.carousel{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-inner>.next {
    margin: 0;
    bottom: 0;
}

#lets_play_link {
    /* background-color: crimson; */
    margin: 0;
    position: relative;
    top: -40vh;
    color: White;
    font-size: 40px;
    margin: 0;
}

#form_container {
    position: relative;
    /* margin-top: 10%; */
    margin-bottom: 10%;
}

input[type=input], input[type=password]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    /* width: 50%; */
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#loginSubmitButton {
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 1%;
}


h2 {
    color: white;
    border: 2px solid white;
    width: 15%;
    margin-left: 43%;
}
p {
    font-size: 25px;
    color: black;
}

#signup {
    font-size: 18px;
} 

