@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

body {
  font-family: "Open Sans", serif;
  color: black;
}
#event-form {
  /* margin-top:2%; */
  /* padding-top: 5%; */
  color: #37474f;
  width: 100%;
  height: 100%;
  background-color: #e0f2f1;
  /* background-color: #0277bd; */
  /* position: absolute;
  z-index: -1;  */
}
.event-background {
  /* background-color: #e0e0e0; */
  background-color: #e0f2f1;
  position: absolute;
  z-index: -1;
  /* width: 100%; */
  height: 120%;
}
.details {
  padding-top: 10px;
}
.event_header {
  height: 350px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 100%;
}
#submit-form-btn {
  width: 20%;
  padding: 11px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.container {
  padding: 0px;
}

.title {
  padding-top: 120px;
  color: white;
  font-size: 40px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
  font-size: 80px;
}

.join {
  border: 2px solid #bdbdbd;
  display: flex;
  justify-content: flex-end;
}

.click,
.time {
  width: 24%;
  padding: 11px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.middle {
  display: grid;
  grid-template-columns: (2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#submit-form-btn {
  width: 25%;
  padding: 11px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.eventinfo {
  grid-column: 3;
  grid-row: 1;
  text-align: left;
}
.info {
  grid-column: 1/ 3;
  grid-row: 1;
  text-align: left;
  margin-left: 10%;
}
label {
  text-align: left;
}

i {
  margin-right: 15px;
}
.end {
  margin-left: 43px;
}

.game_header_left {
  border: 2px solid black;
  /* float: left; */
  width: 30%;
  height: 35px;
  background-color: black;
  margin-left: 20px;
  margin-top: 40px;
  color: white;
}

.game_header_right {
  border: 2px solid black;
  /* float: right; */
  width: 30%;
  height: 35px;
  background-color: black;
  margin-right: 20px;
  margin-top: 40px;
  color: white;
}

.verse_header,
.team_players {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.verse {
  font-family: "Luckiest Guy", cursive;
  font-size: 120px;
  padding: 0px;
  margin-top: 0px;
}

.time {
  width: 15%;
  margin-right: 0px;
}

ul {
  list-style-type: none;
}

.team_players {
  margin: 0px;
  justify-content: space-around;
}

.decription {
  width: 60%;
}

.eventpage {
  color: black;
  background-color: #eeeeee;
  height: 100%;
}

.eventpage > button {
  color: blue;
}
#event-title {
  padding-top: 4%;
  padding-bottom: 2%;
  width: 60%;
  margin: auto;
  background: linear-gradient(
    to right,
    rgb(77, 182, 172) 30%,
    rgb(129, 212, 250)
  );
  /* background-color: #fb8c00; */
}

.form {
  width: 60%;
  background-color: white;
  margin: auto;
  padding-top: 2%;
}

.modal-body > button {
  color: white;
}

.event-form,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  text-align: left;
}

.row {
  margin: auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-right: 1%;
  text-align: right;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

#address-container {
  overflow-y: auto;
  cursor: pointer;
  margin-bottom: 0.8%;
}

#address-response-container {
  border: 1px solid #70a9e3;
  width: 510px;
  margin-left: 21%;
  position: absolute;
  background-color: white;
}

#address-container:hover {
  background-color: #70a9e3;
}

.address:after {
  content: "";
  display: table;
  clear: both;
}
.time-label {
  padding: 0px 12px 5px 0;
}

.times {
  /* background-color: #42a5f5; */
  background-color: #26a69a;
  /* color:white; */
  border: 1px solid #26c6da;
  padding: 9px;
  width: 120px;

  border-radius: 8px;
  /* margin-bottom: 2px; */
  /* margin-right:25% */
}

@media only screen and (max-width: 480px) {
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: 0;
  }

  /* body {
    overflow: hidden;
  } */

  .times {
    width: auto;
  }

  .form,
  .title-name,
  #event-title {
    width: 56vh;
  }

  #event-form {
    /* margin-top:2%; */
    /* padding-top: 5%; */
    color: #37474f;
    width: 100vw;
    height: 100%;
    background-color: #e0f2f1;
    /* background-color: #0277bd; */
    /* position: absolute;
      z-index: -1;  */
    overflow-x: hidden;
  }

  input[type="submit"] {
    width: 100px;
  }

  .m-input-moment {
    width: 69vw;
    position: absolute;
    left: 0;
  }
  .modal-content {
    margin-left: 10%;
  }
}
