#marker-event-photo{
    width: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
  }

   
  .modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }
  
  #formControlsFile{
    margin-left: 35%;
  }
  
  #profile_info_container{
  color: aliceblue;
  }
  
  
  .profile_sport{
    float: left;
  }
  
  #profile-sport-container{
    margin-left: 18%;
    width: 35em;
    /* border: 2px solid black */
  }
  
  .add-sport-button.container{
    margin-left: 33%;
    float: left;
    width: 32%;
  }
  
  #add-button:hover {
    border: 15px solid white;
  }
  
  
  
  #past-event-panel{
    margin: 10% 0 0 35%;
    width: 400px;
  }
  
  .container{
    min-width: 100vw
  }
  
  #autocomplete-form{
    width: 200px;
    margin-left: 23%
  }
  
  
  
  #map-filter{
    background-color: #F5F5F5;
    width: 240px;
    height: 80px;
    position: absolute;
    margin: 4% 0 0 30%;
    z-index: 3;
  }
  
  .formControlsSelect{
    position: absolute;
    width: 80px;
    height: 30px;
    display: inline;
    padding: 6px 12px;
    
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #address-response-container{
    border: 1px solid #70A9E3;
    margin-left: 6%;
    width: 153px;
    background-color: white;
    position: absolute;
    z-index: 1;
  }
  
  #address-container{
    border: 1px solid  #70A9E3;
    margin-bottom: 0.8%;
    overflow-y: auto;
    cursor: pointer;
  }
  
  #address-container:hover{
    background-color: #70A9E3
  }

  #user_selectedSports_container{
    position: absolute;
    margin: 8% 0 0 13%;
    
  }
  
  #event-panel,
  #map-tabs{
    width: 380px;
    margin-top: 5%;
    z-index:  1;
    position: absolute;
  }
  
  
  #event_container{
    width: 400px;
    height: 520px;
    overflow-y:  auto;
    position: absolute;
  }
  
  #upcoming_component{
    position: absolute;
    float: left;
    height: 50px;
    z-index: -3;
  }
  .host_img{
    float: left;
    margin: 1% 0% 0 3%;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
  }
  
  .host_Name{
    position: absolute;
    margin-left: 34%
  }
  
  .event_descriptions{
    width: 200px;
    height: auto;
    position: absolute;
    margin-left: 20%;
    margin-top: 5%;
  }
  
  .individual_event{
    border: 1px solid black;
    width: 375px;
    height: 125px;
    margin-top: 1%;
    background-color: aliceblue;
  }
  
  
  /* #individual-event-card{
      background-image: url("https://bsbproduction.s3.amazonaws.com/portals/9843/images/basketball_for_all_s.jpg")
  } */
  
  #history_component{
    position: absolute;
    margin-left: 60%;
    max-height: 50px;
  }
  
  .event_result{
    font-size: 30px;
    position: absolute;
    margin: 3% 0 0 80%;
    width: 40px;
    text-align: center;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
  
  }