#marker-event-photo {
  width: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
}

.modal-container {
  position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

#formControlsFile {
  margin-left: 35%;
}

#profile_info_container {
  color: aliceblue;
}

.profile_sport {
  float: left;
}

#profile-sport-container {
  margin-left: 18%;
  width: 35em;
  /* border: 2px solid black */
}

#slider-filter {
  width: 150px;
  margin: 5;
}

.add-sport-button.container {
  margin-left: 33%;
  float: left;
  width: 32%;
}

#add-button:hover {
  border: 15px solid white;
}

.container {
  min-width: 100vw;
}

#filter-button {
  background-color: #fdfdfd;
  color: black;
  width: 100px;
  height: 40px;
  position: absolute;

  z-index: 3;
}

.dropdown-menu {
  height: 100px;
  position: absolute;
  margin-top: 30%;
}

#map-filter {
  color: black;
  /* position: absolute; */
  z-index: 3;
}

.formControlsSelect {
  position: absolute;
  width: 50px;
  height: 30px;
  display: inline;
  padding: 6px 12px;

  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#user_selectedSports_container {
  position: absolute;
  margin: 8% 0 0 13%;
}

#history_component {
  position: absolute;
  margin-left: 60%;
  max-height: 50px;
}

.event_result {
  font-size: 30px;
  position: absolute;
  margin: 3% 0 0 80%;
  width: 40px;
  text-align: center;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
}

.btn-group,
.btn-group-vertical {
  position: absolute;
}

@media only screen and (max-width: 480px) {
  #filter-button {
    background-color: #fdfdfd;
    color: black;
    width: 100px;
    height: 40px;
    position: relative;
    z-index: 3;
    margin-top: 8%;
  }

  .dropdown-menu {
    position: relative;
    margin: 0;
  }

  #slider-filter {
    margin: 0;
    width: 75px;
  }
  #map-filter {
    width: 80px;
    margin: 0;
  }

  .formControlsSelect {
    width: 50px;
    height: 30px;
    display: inline;
    padding: 6px 1px;
    position: absolute;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    text-align: left;
    font-size: 12px;
  }
 
}
