body {
  text-align: center;
    /* background-color: #c6e7ff;
    background: url('/images/Field2.png')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.login-container {
  border: 2px solid black;
}

.login-box {
  border: 2px solid blue;
}

#title {
  border: 2px solid pink;
}