* {
  /* box-sizing: border-box; */
  /* border: 2px solid green; */
}

html, body {
  /* height: 100%; */
}
body {
  text-align: center;
  width: 100%;
  /* border: 2px solid yellow; */
}

html {
  /* border: 2px solid green; */
}

.login-container {
  border: 2px solid black;
}

.login-box {
  border: 2px solid blue;
}

#title {
  border: 2px solid pink;
}

.profile_parent {
  background-color: red;
}