body {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  width: 100%;
}

.two-sided{
    width: 95%;
    margin: 2% auto;
    color:white;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    padding: 2%;
    min-height: 80vh;
}

.card {
  box-shadow: 0px 9px 25px #b39ddb;
  border: #cebebe solid 1px;
  background-color: ghostwhite;
  border-radius: 4px;
}

.bkgnd-primary-color {
  background: linear-gradient(to bottom right, rgb(255,147,96) 30%, rgb(255,146,160));
}

.protector {
  margin: 5%;
  text-align: center;
  width: 90%;
}

.login-container {
  border: 2px solid black;
}

.login-box {
  border: 2px solid blue;
}

#title {
  border: 2px solid pink;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .two-sided {
    display: block;
  }
}

@media (min-width: 1440px) {
  .two-sided {
    width: 1368px;
    padding: 50px;
  }
}
