#sportsTile-container {
    border: 4px solid orange;
    height: 100%;
    float: left;
    text-align: center;
    background: linear-gradient(rgba(11, 48, 56, 1), rgba(20, 150, 163, 1), rgba(11, 48, 56, 1));
}

#select-sport-title {
    color: black;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    justify-content: space-around;
    flex-wrap: wrap ;
    font-size: 40px;
    /* border: 2px solid palevioletred; */

}

#container-for-all-images {
    border: 2px solid green;
    width: 100%;
    float: left;
    width: 60%;
    height: 100%;
    padding-left: 10px;
}
#individual-image-container {
    height: 200px;
    width: 100px;
    float: left;
    justify-content: space-around;
    margin: 10px;
    
    border: 2px solid yellow;
}

#individual-image-container:hover {
    border: 2px solid crimson;
    /* width: 20%; */
}

#individual-image-container:focus {
    border: 2px solid purple;
}

img[id=basketball], img[id=soccer], img[id=volleyball], img[id=football], img[id=tennis], img[id=handball] {
    float: left;
}

#sportsName-container {
    background: #ffffff85;
    height: 30px;
    border: 2px solid orange;
    float: left;
}
#sportsName {
    margin: 0;

}
#sportsTile-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    float: left;
}